# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Compiled static libraries
*.lib
*.a

# Executable files
*.exe
*.out

# Dependency directories (GLAD, GLFW, etc.)
/dependencies/*
/glad.c

# CMake build directories
/build/
/cmake-build-*/

# Visual Studio specific
*.vcxproj*
*.pdb
*.suo
*.user
*.userosscache
*.sln
*.VC.db
*.VC.opendb

# IDE specific
.vscode/
.idea/

# Visual Studio temporary files
.vs/

# Log files
*.log

# Miscellaneous
.DS_Store
Thumbs.db
*.bak

# Backup files
*.swp
*.swn
*.bak
*~

*app*

